<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (thongTinChungHopDong(); as thongTinChungHopDongRef) {
      <div>
        <h2 data-cy="thongTinChungHopDongDetailsHeading">
          <span jhiTranslate="gatewayApp.thongTinChungHopDong.detail.title">Thong Tin Chung Hop Dong</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.idHopDong">Id Hop Dong</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.idHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.ngayLapHd">Ngay Lap Hd</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.ngayLapHd | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.nguoiLapHd">Nguoi Lap Hd</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.nguoiLapHd }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.thongTinVanBan">Thong Tin Van Ban</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.thongTinVanBan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.dieuKhoanHd">Dieu Khoan Hd</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.dieuKhoanHd }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.nguoiThaoTac">Nguoi Thao Tac</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.nguoiThaoTac }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.idHdGoc">Id Hd Goc</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.idHdGoc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.maHopDong">Ma Hop Dong</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.maHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.srcHopDong">Src Hop Dong</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.srcHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.ngayHen">Ngay Hen</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.ngayHen | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.congChungVien">Cong Chung Vien</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.congChungVien }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.ngayKyHd">Ngay Ky Hd</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.ngayKyHd | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.nguoiRutTrich">Nguoi Rut Trich</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.nguoiRutTrich }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.soTienRutTrich">So Tien Rut Trich</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.soTienRutTrich }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.ngayRutTrich">Ngay Rut Trich</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.ngayRutTrich | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.hdThuCong">Hd Thu Cong</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.hdThuCong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.trangThaiRutTrich">Trang Thai Rut Trich</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.trangThaiRutTrich }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.chuKyNgoaiTruSo">Chu Ky Ngoai Tru So</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.chuKyNgoaiTruSo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.strSearch">Str Search</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.strSearch }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.idMaster">Id Master</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.idMaster }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.idHdSdHb">Id Hd Sd Hb</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.idHdSdHb }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.srcDmMaster">Src Dm Master</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.srcDmMaster }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.repRefUnique">Rep Ref Unique</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.repRefUnique }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.ngayText">Ngay Text</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.ngayText }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.thongTinChung">Thong Tin Chung</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.thongTinChung }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.thongTinChungClob">Thong Tin Chung Clob</span></dt>
          <dd>
            <span>{{ thongTinChungHopDongRef.thongTinChungClob }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.danhMucLoaiHopDong">Danh Muc Loai Hop Dong</span></dt>
          <dd>
            @if (thongTinChungHopDong()!.danhMucLoaiHopDong) {
              <div>
                <a [routerLink]="['/danh-muc-loai-hop-dong', thongTinChungHopDong()!.danhMucLoaiHopDong?.idLoaiHd, 'view']">{{
                  thongTinChungHopDongRef.danhMucLoaiHopDong?.idLoaiHd
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinChungHopDong.soCongChung">So Cong Chung</span></dt>
          <dd>
            @if (thongTinChungHopDong()!.soCongChung) {
              <div>
                <a [routerLink]="['/so-cong-chung', thongTinChungHopDong()!.soCongChung?.idSo, 'view']">{{
                  thongTinChungHopDongRef.soCongChung?.idSo
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/thong-tin-chung-hop-dong', thongTinChungHopDongRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
