<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (danhSachChungThuc(); as danhSachChungThucRef) {
      <div>
        <h2 data-cy="danhSachChungThucDetailsHeading">
          <span jhiTranslate="gatewayApp.danhSachChungThuc.detail.title">Danh Sach Chung Thuc</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.idChungThuc">Id Chung Thuc</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.idChungThuc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.nguoiChungThuc">Nguoi Chung Thuc</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.nguoiChungThuc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.nguoiThaoTac">Nguoi Thao Tac</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.nguoiThaoTac }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.ngayChungThuc">Ngay Chung Thuc</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.ngayChungThuc | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.quyenSo">Quyen So</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.quyenSo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.srcChungThuc">Src Chung Thuc</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.srcChungThuc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.chuKyNgoaiTruSo">Chu Ky Ngoai Tru So</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.chuKyNgoaiTruSo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.ngayText">Ngay Text</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.ngayText }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.strSearch">Str Search</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.strSearch }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.soTienThu">So Tien Thu</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.soTienThu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.ldPheDuyet">Ld Phe Duyet</span></dt>
          <dd>
            <span>{{ danhSachChungThucRef.ldPheDuyet }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachChungThuc.danhMucLoaiGiayToChungThuc">Danh Muc Loai Giay To Chung Thuc</span></dt>
          <dd>
            @if (danhSachChungThuc()!.danhMucLoaiGiayToChungThuc) {
              <div>
                <a
                  [routerLink]="[
                    '/danh-muc-loai-giay-to-chung-thuc',
                    danhSachChungThuc()!.danhMucLoaiGiayToChungThuc?.idLoaiGiayTo,
                    'view',
                  ]"
                  >{{ danhSachChungThucRef.danhMucLoaiGiayToChungThuc?.idLoaiGiayTo }}</a
                >
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/danh-sach-chung-thuc', danhSachChungThucRef.idChungThuc, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
