<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (duongSu(); as duongSuRef) {
      <div>
        <h2 data-cy="duongSuDetailsHeading"><span jhiTranslate="gatewayApp.duongSu.detail.title">Duong Su</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gatewayApp.duongSu.idDuongSu">Id Duong Su</span></dt>
          <dd>
            <span>{{ duongSuRef.idDuongSu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.tenDuongSu">Ten Duong Su</span></dt>
          <dd>
            <span>{{ duongSuRef.tenDuongSu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.diaChi">Dia Chi</span></dt>
          <dd>
            <span>{{ duongSuRef.diaChi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.soDienThoai">So Dien Thoai</span></dt>
          <dd>
            <span>{{ duongSuRef.soDienThoai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.email">Email</span></dt>
          <dd>
            <span>{{ duongSuRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.fax">Fax</span></dt>
          <dd>
            <span>{{ duongSuRef.fax }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.website">Website</span></dt>
          <dd>
            <span>{{ duongSuRef.website }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ duongSuRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.thongTinDs">Thong Tin Ds</span></dt>
          <dd>
            <span>{{ duongSuRef.thongTinDs }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ duongSuRef.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.nguoiThaoTac">Nguoi Thao Tac</span></dt>
          <dd>
            <span>{{ duongSuRef.nguoiThaoTac }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.idDsGoc">Id Ds Goc</span></dt>
          <dd>
            <span>{{ duongSuRef.idDsGoc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.idMaster">Id Master</span></dt>
          <dd>
            <span>{{ duongSuRef.idMaster }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ duongSuRef.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.strSearch">Str Search</span></dt>
          <dd>
            <span>{{ duongSuRef.strSearch }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.soGiayTo">So Giay To</span></dt>
          <dd>
            <span>{{ duongSuRef.soGiayTo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.ghiChu">Ghi Chu</span></dt>
          <dd>
            <span>{{ duongSuRef.ghiChu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.idLoaiNganChan">Id Loai Ngan Chan</span></dt>
          <dd>
            <span>{{ duongSuRef.idLoaiNganChan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.syncStatus">Sync Status</span></dt>
          <dd>
            <span>{{ duongSuRef.syncStatus }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.loaiDuongSu">Loai Duong Su</span></dt>
          <dd>
            @if (duongSu()!.loaiDuongSu) {
              <div>
                <a [routerLink]="['/loai-duong-su', duongSu()!.loaiDuongSu?.idLoaiDuongSu, 'view']">{{
                  duongSuRef.loaiDuongSu?.idLoaiDuongSu
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.duongSu.loaiGiayTo">Loai Giay To</span></dt>
          <dd>
            @if (duongSu()!.loaiGiayTo) {
              <div>
                <a [routerLink]="['/loai-giay-to', duongSu()!.loaiGiayTo?.idLoaiGiayTo, 'view']">{{
                  duongSuRef.loaiGiayTo?.idLoaiGiayTo
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/duong-su', duongSuRef.idDuongSu, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
