<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Thêm mới Thông tin Đương sự"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="'800px'"
>
  <form [formGroup]="duongSuForm" nz-form *nzModalContent class="custom-modal">
    <nz-form-item>
      <nz-form-label [nzSpan]="8" class="custom-label">Loại đương sự</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <nz-select formControlName="loaiDuongSu" [attr.disabled]="isLoaiDuongSuReadonly ? true : null">
          <nz-option nzValue="CaNhan" nzLabel="Cá nhân"></nz-option>
          <nz-option nzValue="ToChuc" nzLabel="Tổ chức"></nz-option>
          <nz-option nzValue="ToChucTinDung" nzLabel="Tổ chức tín dụng"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="duongSuForm.get('loaiDuongSu')?.value === 'CaNhan'">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired class="custom-label">Họ tên</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="tenDuongSu" placeholder="Nhập họ tên" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Giới tính</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="gioiTinh" nzPlaceHolder="Chọn giới tính">
            <nz-option nzValue="Nam" nzLabel="Nam"></nz-option>
            <nz-option nzValue="Nu" nzLabel="Nữ"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ngày sinh</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-date-picker formControlName="ngaySinh" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Giấy tờ tuỳ thân</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="giayToTuyThan" nzPlaceHolder="Chọn loại giấy tờ">
            <nz-option nzValue="Cmnd" nzLabel="Chứng minh nhân dân"></nz-option>
            <nz-option nzValue="Hc" nzLabel="Hộ chiếu"></nz-option>
            <nz-option nzValue="Cc" nzLabel="Căn cước"></nz-option>
            <nz-option nzValue="Cccd" nzLabel="Căn cước công dân"></nz-option>
            <nz-option nzValue="K" nzLabel="Giấy tờ hợp lệ khác"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isGiayToKhacVisible">
        <nz-form-label [nzSpan]="8" class="custom-label">Tên giấy tờ khác</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="tenGiayTo" placeholder="Nhập tên giấy tờ" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Số giấy tờ</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="soGiayTo" placeholder="Nhập số giấy tờ" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ngày cấp</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-date-picker formControlName="ngayCap" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Nơi cấp</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="noiCap" placeholder="Nhập nơi cấp" value="Công an tỉnh Tiền Giang" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tỉnh, thành phố</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="tinhThanhpho" nzPlaceHolder="Chọn tỉnh, thành phố">
            <nz-option nzValue="tienGiang" nzLabel="Tiền Giang"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Quận, huyện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="quanHuyen" nzPlaceHolder="Chọn quận, huyện">
            <nz-option nzValue="myTho" nzLabel="Thành phố Mỹ Tho"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Phường, xã</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="phuongXa" nzPlaceHolder="Chọn phường, xã">
            <nz-option nzValue="phuong1" nzLabel="Phường 1"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Hộ khẩu</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="hoKhau" placeholder="Nhập hộ khẩu" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Số nhà, đường</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="soNhaDuong" placeholder="Nhập số nhà, đường" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Nơi cư trú khác</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="noiCuTruKhac" placeholder="Nhập nơi cư trú" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Địa chỉ cư trú/tạm trú</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="diaChiCuTruTamTru" placeholder="Nhập địa chỉ cư trú/tạm trú" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Số điện thoại</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="sdt" placeholder="Nhập số điện thoại" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Email</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="email" placeholder="Nhập email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Fax</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="fax" placeholder="Nhập fax" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Website</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="website" placeholder="Nhập website" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Quốc tịch</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="quocTich" nzPlaceHolder="Chọn quốc tịch">
            <nz-option nzValue="vietnam" nzLabel="Việt Nam"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tình trạng đương sự</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="ttDuongSu" nzPlaceHolder="Chọn tình trạng đương sự">
            <nz-option nzValue="Song" nzLabel="Sống"></nz-option>
            <nz-option nzValue="Chet" nzLabel="Đã chết"></nz-option>
            <nz-option nzValue="NganChan" nzLabel="Bị ngăn chặn"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tình trạng hôn nhân</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="ttHonNhan" nzPlaceHolder="Chọn tình trạng hôn nhân">
            <nz-option nzValue="ChuaKetHon" nzLabel="Chưa kết hôn"></nz-option>
            <nz-option nzValue="KetHon" nzLabel="Kết hôn"></nz-option>
            <nz-option nzValue="LyHon" nzLabel="Ly hôn"></nz-option>
            <nz-option nzValue="Goa" nzLabel="Goá"></nz-option>
            <nz-option nzValue="XacNhanTinhTrangHonNhan" nzLabel="Xác nhận tình trạng hôn nhân"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ghi chú</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="ghiChu" placeholder="Ghi chú" />
        </nz-form-control>
      </nz-form-item>

      <div formGroupName="secondPerson" *ngIf="duongSuForm.get('ttHonNhan')?.value === 'KetHon'">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Họ tên</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="tenDuongSu" placeholder="Nhập họ tên người thứ 2" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Ngày sinh</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-date-picker formControlName="ngaySinh" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày sinh" style="width: 100%;"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Giấy tờ tuỳ thân</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select formControlName="giayToTuyThan" nzPlaceHolder="Chọn loại giấy tờ">
              <nz-option nzValue="Cmnd" nzLabel="Chứng minh nhân dân"></nz-option>
              <nz-option nzValue="Hc" nzLabel="Hộ chiếu"></nz-option>
              <nz-option nzValue="Cc" nzLabel="Căn cước"></nz-option>
              <nz-option nzValue="Cccd" nzLabel="Căn cước công dân"></nz-option>
              <nz-option nzValue="K" nzLabel="Giấy tờ hợp lệ khác"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="isGiayToKhacSpouseVisible">
          <nz-form-label [nzSpan]="8" class="custom-label">Tên giấy tờ khác</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="tenGiayTo" placeholder="Nhập tên giấy tờ" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Số giấy tờ</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="soGiayTo" placeholder="Nhập số giấy tờ" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Ngày cấp</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-date-picker formControlName="ngayCap" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày cấp" style="width: 100%;"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Nơi cấp</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="noiCap" placeholder="Nhập nơi cấp" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Tỉnh, thành phố</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select formControlName="tinhThanhpho" nzPlaceHolder="Chọn tỉnh, thành phố">
              <nz-option nzValue="tienGiang" nzLabel="Tiền Giang"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Quận, huyện</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select formControlName="quanHuyen" nzPlaceHolder="Chọn quận, huyện">
              <nz-option nzValue="myTho" nzLabel="Thành phố Mỹ Tho"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Phường, xã</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select formControlName="phuongXa" nzPlaceHolder="Chọn phường, xã">
              <nz-option nzValue="phuong1" nzLabel="Phường 1"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Hộ khẩu</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="hoKhau" placeholder="Nhập hộ khẩu" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Số nhà, đường</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="soNhaDuong" placeholder="Nhập số nhà, đường" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Nơi cư trú khác</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="noiCuTruKhac" placeholder="Nhập nơi cư trú" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Địa chỉ cư trú/tạm trú</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="diaChiCuTruTamTru" placeholder="Nhập địa chỉ cư trú/tạm trú" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Số điện thoại</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="sdt" placeholder="Nhập số điện thoại" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Email</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="email" placeholder="Nhập email" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Fax</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="fax" placeholder="Nhập fax" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Website</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input formControlName="website" placeholder="Nhập website" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Quốc tịch</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select formControlName="quocTich" nzPlaceHolder="Chọn quốc tịch">
              <nz-option nzValue="vietnam" nzLabel="Việt Nam"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Tình trạng đương sự</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select formControlName="ttDuongSu" nzPlaceHolder="Chọn tình trạng đương sự">
              <nz-option nzValue="Song" nzLabel="Sống"></nz-option>
              <nz-option nzValue="Chet" nzLabel="Đã chết"></nz-option>
              <nz-option nzValue="NganChan" nzLabel="Bị ngăn chặn"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Giấy chứng nhận kết hôn -->
        <div formGroupName="giayChungNhanKetHon">
          <nz-form-item>
            <nz-form-label [nzSpan]="8" class="custom-label">Giấy chứng nhận kết hôn số</nz-form-label>
            <nz-form-control [nzSpan]="15">
              <input nz-input formControlName="so" placeholder="Nhập số giấy chứng nhận kết hôn" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="8" class="custom-label">Ngày cấp</nz-form-label>
            <nz-form-control [nzSpan]="15">
              <nz-date-picker formControlName="ngayCap" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày cấp" style="width: 100%;"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="8" class="custom-label">Nơi cấp</nz-form-label>
            <nz-form-control [nzSpan]="15">
              <input nz-input formControlName="noiCap" placeholder="Nhập nơi cấp giấy chứng nhận kết hôn" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="duongSuForm.get('loaiDuongSu')?.value === 'ToChuc' || duongSuForm.get('loaiDuongSu')?.value === 'ToChucTinDung'">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label" nzRequired>Tên công ty</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="tenCongTy" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label" nzRequired>Tên phiếu</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="tenPhieu" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tỉnh, thành phố</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="tinhThanhpho" nzPlaceHolder="Chọn tỉnh, thành phố">
            <nz-option nzValue="tienGiang" nzLabel="Tiền Giang"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Quận, huyện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="quanHuyen" nzPlaceHolder="Chọn quận, huyện">
            <nz-option nzValue="myTho" nzLabel="Thành phố Mỹ Tho"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Phường, xã</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="phuongXa" nzPlaceHolder="Chọn phường, xã">
            <nz-option nzValue="phuong1" nzLabel="Phường 1"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Trụ sở</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="truSo" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Điện thoại</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="dienThoai" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Fax</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="fax" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Email</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Website</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="website" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Giấy phép thành lập/đầu tư</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="giayPhepThanhLap" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Đăng ký kinh doanh</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="dangKyKinhDoanh" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Nơi cấp giấy phép</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="noiCapGiayPhep" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Xưng hô người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="xungHoNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Họ tên người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="hoTenNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Chức vụ người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="chucVuNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ngày sinh người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-date-picker formControlName="ngaySinhNguoiDaiDien" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Giấy tờ tùy thân người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="giayToNguoiDaiDien" nzPlaceHolder="Chọn giấy tờ tùy thân">
            <nz-option nzValue="Cmnd" nzLabel="Chứng minh nhân dân"></nz-option>
            <nz-option nzValue="Hc" nzLabel="Hộ chiếu"></nz-option>
            <nz-option nzValue="Cc" nzLabel="Căn cước"></nz-option>
            <nz-option nzValue="Cccd" nzLabel="Căn cước công dân"></nz-option>
            <nz-option nzValue="K" nzLabel="Giấy tờ hợp lệ khác"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isGiayToKhacNguoiDaiDienVisible">
        <nz-form-label [nzSpan]="8" class="custom-label">Tên giấy tờ khác</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="tenGiayToNguoiDaiDien" placeholder="Nhập tên giấy tờ" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Số GT tùy thân người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="soGiayToNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Cơ quan cấp giấy tờ tùy thân</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="coQuanCapGiayToNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ngày cấp giấy tờ tùy thân người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-date-picker formControlName="ngayCapGiayToNguoiDaiDien" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Hộ khẩu thường trú người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="hoKhauNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Nơi cư trú người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="noiCuTruNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Địa chỉ cư trú/tạm trú người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input formControlName="diaChiNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ghi chú</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <textarea nz-input formControlName="ghiChu"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Quốc tịch người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="quocTichNguoiDaiDien" nzPlaceHolder="Chọn quốc tịch">
            <nz-option nzValue="vietNam" nzLabel="Việt Nam"></nz-option>
            <nz-option nzValue="khac" nzLabel="Khác"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tình trạng hoạt động</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select formControlName="tinhTrangHoatDong" nzPlaceHolder="Chọn tình trạng hoạt động">
            <nz-option nzValue="1" nzLabel="Đang hoạt động"></nz-option>
            <nz-option nzValue="0" nzLabel="Ngừng hoạt động"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </form>
</nz-modal>
