<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-quan-he-duong-su-heading"
        data-cy="QuanHeDuongSuCreateUpdateHeading"
        jhiTranslate="gatewayApp.quanHeDuongSu.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Quan He Duong Su
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.idQuanHe.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_idQuanHe" jhiTranslate="gatewayApp.quanHeDuongSu.idQuanHe">Id Quan He</label>
            <input
              type="number"
              class="form-control"
              name="idQuanHe"
              id="field_idQuanHe"
              data-cy="idQuanHe"
              formControlName="idQuanHe"
              [readonly]="true"
            />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idDuongSuQh" jhiTranslate="gatewayApp.quanHeDuongSu.idDuongSuQh">Id Duong Su Qh</label>
          <input
            type="number"
            class="form-control"
            name="idDuongSuQh"
            id="field_idDuongSuQh"
            data-cy="idDuongSuQh"
            formControlName="idDuongSuQh"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_thongTinQuanHe" jhiTranslate="gatewayApp.quanHeDuongSu.thongTinQuanHe"
            >Thong Tin Quan He</label
          >
          <input
            type="text"
            class="form-control"
            name="thongTinQuanHe"
            id="field_thongTinQuanHe"
            data-cy="thongTinQuanHe"
            formControlName="thongTinQuanHe"
          />
        </div>

        @let trangThaiRef = editForm.get('trangThai')!;
        <div class="mb-3">
          <label class="form-label" for="field_trangThai" jhiTranslate="gatewayApp.quanHeDuongSu.trangThai">Trang Thai</label>
          <input type="number" class="form-control" name="trangThai" id="field_trangThai" data-cy="trangThai" formControlName="trangThai" />
          @if (trangThaiRef.invalid && (trangThaiRef.dirty || trangThaiRef.touched)) {
            <div>
              @if (editForm.get('trangThai')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Trường này phải lớn hơn 0.</small
                >
              }
              @if (editForm.get('trangThai')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '1' }"
                  >Trường này phải nhỏ hơn 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('trangThai')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_duongSu" jhiTranslate="gatewayApp.quanHeDuongSu.duongSu">Duong Su</label>
          <select
            class="form-control"
            id="field_duongSu"
            data-cy="duongSu"
            name="duongSu"
            formControlName="duongSu"
            [compareWith]="compareDuongSu"
          >
            <option [ngValue]="null"></option>
            @for (duongSuOption of duongSusSharedCollection; track $index) {
              <option [ngValue]="duongSuOption">{{ duongSuOption.idDuongSu }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
