<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (taiSanDgc(); as taiSanDgcRef) {
      <div>
        <h2 data-cy="taiSanDgcDetailsHeading"><span jhiTranslate="gatewayApp.taiSanDgc.detail.title">Tai San Dgc</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.tenTaiSan">Ten Tai San</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.tenTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.thongTinTs">Thong Tin Ts</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.thongTinTs }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.ghiChu">Ghi Chu</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.ghiChu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.nguoiThaoTac">Nguoi Thao Tac</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.nguoiThaoTac }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idDuongSu">Id Duong Su</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.idDuongSu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idTsGoc">Id Ts Goc</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.idTsGoc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.maTaiSan">Ma Tai San</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.maTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idLoaiNganChan">Id Loai Ngan Chan</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.idLoaiNganChan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.ngayBdNganChan">Ngay Bd Ngan Chan</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.ngayBdNganChan | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.ngayKtNganChan">Ngay Kt Ngan Chan</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.ngayKtNganChan | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idMaster">Id Master</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.idMaster }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.strSearch">Str Search</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.strSearch }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.soHsCv">So Hs Cv</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.soHsCv }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.soCc">So Cc</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.soCc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.soVaoSo">So Vao So</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.soVaoSo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.moTa">Mo Ta</span></dt>
          <dd>
            <span>{{ taiSanDgcRef.moTa }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.taiSan">Tai San</span></dt>
          <dd>
            @if (taiSanDgc()!.taiSan) {
              <div>
                <a [routerLink]="['/tai-san', taiSanDgc()!.taiSan?.idTaiSan, 'view']">{{ taiSanDgcRef.taiSan?.idTaiSan }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.danhMucLoaiTaiSan">Danh Muc Loai Tai San</span></dt>
          <dd>
            @if (taiSanDgc()!.danhMucLoaiTaiSan) {
              <div>
                <a [routerLink]="['/danh-muc-loai-tai-san', taiSanDgc()!.danhMucLoaiTaiSan?.idLoaiTs, 'view']">{{
                  taiSanDgcRef.danhMucLoaiTaiSan?.idLoaiTs
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDgc.tinhTrangTaiSan">Tinh Trang Tai San</span></dt>
          <dd>
            @if (taiSanDgc()!.tinhTrangTaiSan) {
              <div>
                <a [routerLink]="['/tinh-trang-tai-san', taiSanDgc()!.tinhTrangTaiSan?.idTinhTrang, 'view']">{{
                  taiSanDgcRef.tinhTrangTaiSan?.idTinhTrang
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/tai-san-dgc', taiSanDgcRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
