.header {
  background-color: #001529; /* Màu nền của header */
  color: white; /* Màu chữ */
  font-size: 24px; /* Kích thước chữ */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Font chữ đẹp hơn */
  padding: 16px 24px; /* Padding trên và dưới là 16px, trái và phải là 24px */
  display: flex; /* Sử dụng flexbox để căn chỉnh nội dung */
  align-items: center; /* Căn chỉnh nội dung theo chiều dọc giữa */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm bóng đổ cho hiệu ứng chiều sâu */
  border-bottom: 2px solid #003a6c; /* Thêm đường viền dưới cùng để phân tách với phần nội dung bên dưới */
}

nz-table {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;

  th, td {
    text-align: center;
    padding: 10px;
  }

  th {
    background-color: #f0f0f0;
    font-weight: 600;
  }

  tbody tr:nth-child(even) {
    background-color: #fafafa;
  }
}

.filter-wrapper {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  nz-form-item {
    margin-bottom: 1px;

    nz-form-label {
      font-weight: bold;
      width: 120px; // Cân chỉnh chiều rộng nhãn
    }

    nz-form-control {
      width: calc(100% - 120px); // Cân chỉnh kích thước control dựa trên label
    }
  }

  nz-col {
    margin-bottom: 10px; // Thêm khoảng cách giữa các hàng lọc
  }

  nz-select {
    width: 150px;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1px; /* Thêm khoảng cách giữa icon và text */
      min-width: 50px; /* Đảm bảo các nút có cùng chiều rộng */
      text-align: center;

      i {
        font-size: 16px;
      }

      span {
        flex-grow: 1;
        display: inline-block;
      }
    }
  }
}
