.custom-table td {
  vertical-align: top; // Căn chỉnh nội dung lên trên cùng
}

.action-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột với cùng kích thước */
  gap: 8px; /* Khoảng cách giữa các icon, có thể điều chỉnh theo nhu cầu */
  justify-items: center; /* Căn giữa các icon trong cột */
  align-items: center; /* Căn giữa các icon trong hàng */
}

.action-icons i {
  font-size: 16px; /* Kích thước của icon, có thể điều chỉnh theo nhu cầu */
  color: #1890ff; /* Màu sắc của icon, có thể điều chỉnh theo nhu cầu */
}

.custom-table {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;

  th, td {
    padding: 6px;
  }

  th {
    background-color: #f0f0f0;
    font-weight: 600;
  }

  tbody tr:nth-child(even) {
    background-color: #fafafa;
  }
}
