<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tai-san-duong-su-heading"
        data-cy="TaiSanDuongSuCreateUpdateHeading"
        jhiTranslate="gatewayApp.taiSanDuongSu.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Tai San Duong Su
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.taiSanDuongSu.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idTaiSan" jhiTranslate="gatewayApp.taiSanDuongSu.idTaiSan">Id Tai San</label>
          <input type="number" class="form-control" name="idTaiSan" id="field_idTaiSan" data-cy="idTaiSan" formControlName="idTaiSan" />
        </div>

        @let trangThaiRef = editForm.get('trangThai')!;
        <div class="mb-3">
          <label class="form-label" for="field_trangThai" jhiTranslate="gatewayApp.taiSanDuongSu.trangThai">Trang Thai</label>
          <input type="number" class="form-control" name="trangThai" id="field_trangThai" data-cy="trangThai" formControlName="trangThai" />
          @if (trangThaiRef.invalid && (trangThaiRef.dirty || trangThaiRef.touched)) {
            <div>
              @if (editForm.get('trangThai')?.errors?.min) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.min" [translateValues]="{ min: '0' }"
                  >Trường này phải lớn hơn 0.</small
                >
              }
              @if (editForm.get('trangThai')?.errors?.max) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.max" [translateValues]="{ max: '1' }"
                  >Trường này phải nhỏ hơn 1.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('trangThai')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Trường này phải là một số.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ngayThaoTac" jhiTranslate="gatewayApp.taiSanDuongSu.ngayThaoTac">Ngay Thao Tac</label>
          <div class="input-group">
            <input
              id="field_ngayThaoTac"
              data-cy="ngayThaoTac"
              type="text"
              class="form-control"
              name="ngayThaoTac"
              ngbDatepicker
              #ngayThaoTacDp="ngbDatepicker"
              formControlName="ngayThaoTac"
            />
            <button type="button" class="btn btn-secondary" (click)="ngayThaoTacDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idHopDong" jhiTranslate="gatewayApp.taiSanDuongSu.idHopDong">Id Hop Dong</label>
          <input type="number" class="form-control" name="idHopDong" id="field_idHopDong" data-cy="idHopDong" formControlName="idHopDong" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idLoaiHopDong" jhiTranslate="gatewayApp.taiSanDuongSu.idLoaiHopDong">Id Loai Hop Dong</label>
          <input
            type="number"
            class="form-control"
            name="idLoaiHopDong"
            id="field_idLoaiHopDong"
            data-cy="idLoaiHopDong"
            formControlName="idLoaiHopDong"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idChungThuc" jhiTranslate="gatewayApp.taiSanDuongSu.idChungThuc">Id Chung Thuc</label>
          <input
            type="number"
            class="form-control"
            name="idChungThuc"
            id="field_idChungThuc"
            data-cy="idChungThuc"
            formControlName="idChungThuc"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_duongSu" jhiTranslate="gatewayApp.taiSanDuongSu.duongSu">Duong Su</label>
          <select
            class="form-control"
            id="field_duongSu"
            data-cy="duongSu"
            name="duongSu"
            formControlName="duongSu"
            [compareWith]="compareDuongSu"
          >
            <option [ngValue]="null"></option>
            @for (duongSuOption of duongSusSharedCollection; track $index) {
              <option [ngValue]="duongSuOption">{{ duongSuOption.idDuongSu }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
