<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (soCongChungTemp()) {
      <div>
        <h2 data-cy="soCongChungTempDetailsHeading">
          <span jhiTranslate="gatewayApp.soCongChungTemp.detail.title">So Cong Chung Temp</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ soCongChungTemp()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChungTemp.idHopDong">Id Hop Dong</span></dt>
          <dd>
            <span>{{ soCongChungTemp()!.idHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChungTemp.idMaster">Id Master</span></dt>
          <dd>
            <span>{{ soCongChungTemp()!.idMaster }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChungTemp.soCc">So Cc</span></dt>
          <dd>
            <span>{{ soCongChungTemp()!.soCc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChungTemp.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ soCongChungTemp()!.ngayThaoTac | formatMediumDate }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/so-cong-chung-temp', soCongChungTemp()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
