<div>
  <h2 id="page-heading" data-cy="DmTaiSanHeading">
    <span jhiTranslate="gatewayApp.dmTaiSan.home.title">Dm Tai Sans</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.dmTaiSan.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dm-tai-san"
        [routerLink]="['/dm-tai-san/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.dmTaiSan.home.createLabel">Thêm mới một Dm Tai San</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (dmTaiSans?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.dmTaiSan.home.notFound">No Dm Tai Sans found</span>
    </div>
  }

  @if (dmTaiSans && dmTaiSans.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idTaiSan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.idTaiSan">Id Tai San</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenTaiSan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.tenTaiSan">Ten Tai San</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="thongTinTs">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.thongTinTs">Thong Tin Ts</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLoaiTs">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.idLoaiTs">Id Loai Ts</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ghiChu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.ghiChu">Ghi Chu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.ngayThaoTac">Ngay Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nguoiThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.nguoiThaoTac">Nguoi Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDuongSu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.idDuongSu">Id Duong Su</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idTsGoc">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.idTsGoc">Id Ts Goc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maTaiSan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.maTaiSan">Ma Tai San</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idTinhTrang">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.idTinhTrang">Id Tinh Trang</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLoaiNganChan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.idLoaiNganChan">Id Loai Ngan Chan</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayBdNganChan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.ngayBdNganChan">Ngay Bd Ngan Chan</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayKtNganChan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.ngayKtNganChan">Ngay Kt Ngan Chan</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idMaster">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.idMaster">Id Master</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="strSearch">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.strSearch">Str Search</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDonVi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.idDonVi">Id Don Vi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soHsCv">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.soHsCv">So Hs Cv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soCc">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.soCc">So Cc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soVaoSo">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.soVaoSo">So Vao So</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="moTa">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.moTa">Mo Ta</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="loaiNganChan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmTaiSan.loaiNganChan">Loai Ngan Chan</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dmTaiSan of dmTaiSans; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/dm-tai-san', dmTaiSan.id, 'view']">{{ dmTaiSan.id }}</a>
              </td>
              <td>{{ dmTaiSan.idTaiSan }}</td>
              <td>{{ dmTaiSan.tenTaiSan }}</td>
              <td>{{ dmTaiSan.trangThai }}</td>
              <td>{{ dmTaiSan.thongTinTs }}</td>
              <td>{{ dmTaiSan.idLoaiTs }}</td>
              <td>{{ dmTaiSan.ghiChu }}</td>
              <td>{{ dmTaiSan.ngayThaoTac | formatMediumDate }}</td>
              <td>{{ dmTaiSan.nguoiThaoTac }}</td>
              <td>{{ dmTaiSan.idDuongSu }}</td>
              <td>{{ dmTaiSan.idTsGoc }}</td>
              <td>{{ dmTaiSan.maTaiSan }}</td>
              <td>{{ dmTaiSan.idTinhTrang }}</td>
              <td>{{ dmTaiSan.idLoaiNganChan }}</td>
              <td>{{ dmTaiSan.ngayBdNganChan | formatMediumDate }}</td>
              <td>{{ dmTaiSan.ngayKtNganChan | formatMediumDate }}</td>
              <td>{{ dmTaiSan.idMaster }}</td>
              <td>{{ dmTaiSan.strSearch }}</td>
              <td>{{ dmTaiSan.idDonVi }}</td>
              <td>{{ dmTaiSan.soHsCv }}</td>
              <td>{{ dmTaiSan.soCc }}</td>
              <td>{{ dmTaiSan.soVaoSo }}</td>
              <td>{{ dmTaiSan.moTa }}</td>
              <td>{{ dmTaiSan.loaiNganChan }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/dm-tai-san', dmTaiSan.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/dm-tai-san', dmTaiSan.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(dmTaiSan)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
