<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (danhSachTaiSan(); as danhSachTaiSanRef) {
      <div>
        <h2 data-cy="danhSachTaiSanDetailsHeading"><span jhiTranslate="gatewayApp.danhSachTaiSan.detail.title">Danh Sach Tai San</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.tenTaiSan">Ten Tai San</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.tenTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.ghiChu">Ghi Chu</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.ghiChu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.nguoiThaoTac">Nguoi Thao Tac</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.nguoiThaoTac }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.idDuongSu">Id Duong Su</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.idDuongSu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.idTsGoc">Id Ts Goc</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.idTsGoc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.maTaiSan">Ma Tai San</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.maTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.idLoaiNganChan">Id Loai Ngan Chan</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.idLoaiNganChan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.ngayBdNganChan">Ngay Bd Ngan Chan</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.ngayBdNganChan | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.ngayKtNganChan">Ngay Kt Ngan Chan</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.ngayKtNganChan | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.idMaster">Id Master</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.idMaster }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.strSearch">Str Search</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.strSearch }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.soHsCv">So Hs Cv</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.soHsCv }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.soCc">So Cc</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.soCc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.soVaoSo">So Vao So</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.soVaoSo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.moTa">Mo Ta</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.moTa }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.loaiNganChan">Loai Ngan Chan</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.loaiNganChan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.maXa">Ma Xa</span></dt>
          <dd>
            <span>{{ danhSachTaiSanRef.maXa }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachTaiSan.danhMucLoaiTaiSan">Danh Muc Loai Tai San</span></dt>
          <dd>
            @if (danhSachTaiSan()!.danhMucLoaiTaiSan) {
              <div>
                <a [routerLink]="['/danh-muc-loai-tai-san', danhSachTaiSan()!.danhMucLoaiTaiSan?.idLoaiTs, 'view']">{{
                  danhSachTaiSanRef.danhMucLoaiTaiSan?.idLoaiTs
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/danh-sach-tai-san', danhSachTaiSanRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
