<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (phanLoaiHopDong(); as phanLoaiHopDongRef) {
      <div>
        <h2 data-cy="phanLoaiHopDongDetailsHeading">
          <span jhiTranslate="gatewayApp.phanLoaiHopDong.detail.title">Phan Loai Hop Dong</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gatewayApp.phanLoaiHopDong.idPhanLoaiHopDong">Id Phan Loai Hop Dong</span></dt>
          <dd>
            <span>{{ phanLoaiHopDongRef.idPhanLoaiHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.phanLoaiHopDong.dienGiai">Dien Giai</span></dt>
          <dd>
            <span>{{ phanLoaiHopDongRef.dienGiai }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/phan-loai-hop-dong', phanLoaiHopDongRef.idPhanLoaiHopDong, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
