<nz-row [nzGutter]="[16, 16]" class="filter-wrapper">
  <nz-col nzSpan="6">
    <nz-form-item>
      <nz-form-label>Loại đương sự:</nz-form-label>
      <nz-form-control>
        <nz-select [(ngModel)]="selectedUnit" (ngModelChange)="onUnitChange()" nzPlaceHolder="Chọn loại đương sự">
          <nz-option [nzValue]="null" nzLabel="Tất cả"></nz-option>
          <nz-option [nzValue]="LoaiDuongSu.CaNhan" nzLabel="Cá nhân"></nz-option>
          <nz-option [nzValue]="LoaiDuongSu.ToChuc" nzLabel="Tổ chức"></nz-option>
          <nz-option [nzValue]="LoaiDuongSu.ToChucTinDung" nzLabel="Tổ chức tín dụng"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </nz-col>

  <nz-col nzSpan="6">
    <nz-form-item>
      <nz-form-label>Tìm Kiếm:</nz-form-label>
      <nz-form-control>
        <input nz-input [(ngModel)]="searchValue" (ngModelChange)="onSearchChange()" placeholder="Nhập dữ liệu cần tìm" />
      </nz-form-control>
    </nz-form-item>
  </nz-col>

  <nz-col nzSpan="12" class="button-group">
    <button nz-button nzType="default" (click)="resetData()">
      <i nz-icon nzType="reload" nzTheme="outline"></i>
      <span>Làm mới danh sách</span>
    </button>
    <button nz-button nzType="default" (click)="scan()">
      <i nz-icon nzType="qrcode" nzTheme="outline"></i>
      <span>Quét CCCD</span>
    </button>
    <button nz-button nzType="primary" (click)="duongSuForm.showModal()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      <span>Thêm mới</span>
    </button>
  </nz-col>
</nz-row>
<jhi-duongsu-form #duongSuForm></jhi-duongsu-form>

<nz-table [nzData]="listOfDs" nzBordered nzSize="small" nzShowPagination class="custom-table">
  <thead>
  <tr>
    <th nzWidth="10px">#</th>
    <th>Mã đương sự</th>
    <th>Tên đương sự</th>
    <th>Loại đương sự</th>
    <th>Tình trạng đương sự</th>
    <th>Địa chỉ</th>
    <th>Đơn vị</th>
    <th>Thao tác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let Ds of filteredListOfDs; let index = index">
    <td>{{ index + 1 }}</td>
    <td>{{ Ds.soGiayTo }}</td>
    <td>{{ Ds.tenDuongSu }}</td>
    <td>{{ Ds.loaiDuongSu }}</td>
    <td>{{ Ds.tinhTrangDuongSu }}</td>
    <td>{{ Ds.diaChi }}</td>
    <td>{{ Ds.donVi }}</td>
    <td>
      <div class="action-icons">
        <ng-container *ngFor="let action of dsActions">
          <i nz-icon [nzType]="action.icon" nzTheme="outline" nz-tooltip [nzTooltipTitle]="action.tooltip" (click)="onActionClick(action.type, Ds)"></i>
        </ng-container>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>

<jhi-lichsucapnhat
  [isVisible]="isHistoryModalVisible"
  title="Lịch sử cập nhật"
  [columns]="modalColumns"
  [data]="modalData"
  (nzOnCancel)="handleCancelModal()">
</jhi-lichsucapnhat>
<jhi-lichsugiaodichduongsu
  [isVisible]="isHistoryTradeModalVisible"
  (nzOnCancel)="handleCancelModal()">
></jhi-lichsugiaodichduongsu>
<jhi-tinhtrangnganchan
  [isVisible]="isContainmentStatusModalVisible"
  (nzOnCancel)="handleCancelModal()">
  </jhi-tinhtrangnganchan>
<jhi-themthongtinnganchan
  [isVisible]="isAddContainmentStatusModalVisible"
  (nzOnCancel)="handleCancelModal()">
</jhi-themthongtinnganchan>
<jhi-thongtinvochong
  [isVisible]="isSpouseInformationModalVisible"
  (nzOnCancel)="handleCancelModal()">
></jhi-thongtinvochong>
<jhi-themthongtinvochong
  [isVisible]="isAddSpouseInformationModalVisible"
  (nzOnCancel)="handleCancelModal()">
></jhi-themthongtinvochong>
<jhi-duongsu-form #duongSuForm></jhi-duongsu-form>
