<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (danhMucLoaiVanBan(); as danhMucLoaiVanBanRef) {
      <div>
        <h2 data-cy="danhMucLoaiVanBanDetailsHeading">
          <span jhiTranslate="gatewayApp.danhMucLoaiVanBan.detail.title">Danh Muc Loai Van Ban</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiVanBan.idLoaiVb">Id Loai Vb</span></dt>
          <dd>
            <span>{{ danhMucLoaiVanBanRef.idLoaiVb }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiVanBan.dienGiai">Dien Giai</span></dt>
          <dd>
            <span>{{ danhMucLoaiVanBanRef.dienGiai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucLoaiVanBan.danhSachHopDong">Danh Sach Hop Dong</span></dt>
          <dd>
            @if (danhMucLoaiVanBan()!.danhSachHopDong) {
              <div>
                <a [routerLink]="['/danh-sach-hop-dong', danhMucLoaiVanBan()!.danhSachHopDong?.idHopDong, 'view']">{{
                  danhMucLoaiVanBanRef.danhSachHopDong?.idHopDong
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/danh-muc-loai-van-ban', danhMucLoaiVanBanRef.idLoaiVb, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
