<div>
  <h2 id="page-heading" data-cy="DmXaTmpHeading">
    <span jhiTranslate="gatewayApp.dmXaTmp.home.title">Dm Xa Tmps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.dmXaTmp.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-dm-xa-tmp"
        [routerLink]="['/dm-xa-tmp/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.dmXaTmp.home.createLabel">Thêm mới một Dm Xa Tmp</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (dmXaTmps?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.dmXaTmp.home.notFound">No Dm Xa Tmps found</span>
    </div>
  }

  @if (dmXaTmps && dmXaTmps.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maXa">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmXaTmp.maXa">Ma Xa</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenXa">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmXaTmp.tenXa">Ten Xa</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="maHuyen">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.dmXaTmp.maHuyen">Ma Huyen</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (dmXaTmp of dmXaTmps; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/dm-xa-tmp', dmXaTmp.id, 'view']">{{ dmXaTmp.id }}</a>
              </td>
              <td>{{ dmXaTmp.maXa }}</td>
              <td>{{ dmXaTmp.tenXa }}</td>
              <td>{{ dmXaTmp.maHuyen }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/dm-xa-tmp', dmXaTmp.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/dm-xa-tmp', dmXaTmp.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(dmXaTmp)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
