<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Thêm mới Văn bản"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="'800px'"
>
  <form [formGroup]="vanBanForm" nz-form *nzModalContent class="custom-modal">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" class="custom-label">Loại văn bản</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select formControlName="loaiVanBan" nzPlaceHolder="Chọn loại văn bản">
          <nz-option nzValue="congVan" nzLabel="Công văn"></nz-option>
          <nz-option nzValue="quyetDinh" nzLabel="Quyết định"></nz-option>
          <nz-option nzValue="thongBao" nzLabel="Thông báo"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6" class="custom-label">Diễn giải</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <textarea nz-input formControlName="dienGiai" placeholder="Nhập diễn giải" rows="4"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzSpan]="18" [nzOffset]="6">
        <button nz-button nzType="primary" nzShape="round" (click)="choseFile()">Chọn tập tin</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
