<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (danhSachDuongSu(); as danhSachDuongSuRef) {
      <div>
        <h2 data-cy="danhSachDuongSuDetailsHeading">
          <span jhiTranslate="gatewayApp.danhSachDuongSu.detail.title">Danh Sach Duong Su</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.tenDuongSu">Ten Duong Su</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.tenDuongSu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.diaChi">Dia Chi</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.diaChi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.nguoiThaoTac">Nguoi Thao Tac</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.nguoiThaoTac }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.idDsGoc">Id Ds Goc</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.idDsGoc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.idMaster">Id Master</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.idMaster }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.strSearch">Str Search</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.strSearch }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.soGiayTo">So Giay To</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.soGiayTo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.idLoaiNganChan">Id Loai Ngan Chan</span></dt>
          <dd>
            <span>{{ danhSachDuongSuRef.idLoaiNganChan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhSachDuongSu.duongSu">Duong Su</span></dt>
          <dd>
            @if (danhSachDuongSu()!.duongSu) {
              <div>
                <a [routerLink]="['/duong-su', danhSachDuongSu()!.duongSu?.idDuongSu, 'view']">{{
                  danhSachDuongSuRef.duongSu?.idDuongSu
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/danh-sach-duong-su', danhSachDuongSuRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
