<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (cauHinhMauHopDong(); as cauHinhMauHopDongRef) {
      <div>
        <h2 data-cy="cauHinhMauHopDongDetailsHeading">
          <span jhiTranslate="gatewayApp.cauHinhMauHopDong.detail.title">Cau Hinh Mau Hop Dong</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.idLoaiHd">Id Loai Hd</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.idLoaiHd }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.dienGiai">Dien Giai</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.dienGiai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.idVaiTro1">Id Vai Tro 1</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.idVaiTro1 }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.idVaiTro2">Id Vai Tro 2</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.idVaiTro2 }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.fileHopDong">File Hop Dong</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.fileHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.srcHopDong">Src Hop Dong</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.srcHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.dieuKhoan">Dieu Khoan</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.dieuKhoan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.nguoiThaoTac">Nguoi Thao Tac</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.nguoiThaoTac }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.srcLoiChung">Src Loi Chung</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.srcLoiChung }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.idNhom">Id Nhom</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.idNhom }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.fileLoiChung">File Loi Chung</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.fileLoiChung }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.chuyenTaiSan">Chuyen Tai San</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.chuyenTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.loaiSuaDoi">Loai Sua Doi</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.loaiSuaDoi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.loaiHuyBo">Loai Huy Bo</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.loaiHuyBo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.trangThaiDuyet">Trang Thai Duyet</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.trangThaiDuyet }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.idPhanLoaiHopDong">Id Phan Loai Hop Dong</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.idPhanLoaiHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.srcCv">Src Cv</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.srcCv }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.srcTb">Src Tb</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.srcTb }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.srcTtpc">Src Ttpc</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.srcTtpc }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.cauHinhMauHopDong.idVaiTro3">Id Vai Tro 3</span></dt>
          <dd>
            <span>{{ cauHinhMauHopDongRef.idVaiTro3 }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/cau-hinh-mau-hop-dong', cauHinhMauHopDongRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
