<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzWidth]="'800px'"
>
  <form nz-form *nzModalContent class="custom-modal">
    <nz-form-item>
      <nz-form-label [nzSpan]="8" class="custom-label">Loại đương sự</nz-form-label>
      <nz-form-control [nzSpan]="15">
        <nz-select name="loaiDuongSu" [(ngModel)]="selectedLoaiDuongSu" (ngModelChange)="onLoaiDuongSuChange($event)" nzPlaceHolder="Chọn loại đương sự">
          <nz-option *ngFor="let option of loaiDuongSuOptions" [nzValue]="option.idLoaiDuongSu" [nzLabel]="option.tenLoaiDuongSu || ''"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <ng-container *ngIf="selectedLoaiDuongSu === 'ca_nhan'">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired class="custom-label">Họ tên</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.tenDuongSu" name="tenDuongSu" placeholder="Nhập họ tên" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Giới tính</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select [(ngModel)]="thongTinKhacCaNhanA.gioiTinh" name="gioiTinh" nzPlaceHolder="Chọn giới tính">
            <nz-option nzValue="Nam" nzLabel="Nam"></nz-option>
            <nz-option nzValue="Nữ" nzLabel="Nữ"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ngày sinh</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-date-picker [(ngModel)]="thongTinKhacCaNhanA.ngaySinh" name="ngaySinh" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Giấy tờ tuỳ thân</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select [(ngModel)]="selectedLoaiGiayToCaNhan" (ngModelChange)="onLoaiGiayToChange($event, 'caNhan')" name="giayToTuyThan" nzPlaceHolder="Chọn loại giấy tờ">
            <nz-option *ngFor="let option of loaiGiayToOptions" [nzValue]="option.idLoaiGiayTo" [nzLabel]="option.tenLoaiGiayTo || ''"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isGiayToKhacVisible">
        <nz-form-label [nzSpan]="8" class="custom-label">Tên giấy tờ khác</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacCaNhanA.giayToTuyThan.tenGiayTo" name="tenGiayTo" placeholder="Nhập tên giấy tờ" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Số giấy tờ</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.soGiayTo" name="soGiayTo" placeholder="Nhập số giấy tờ" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ngày cấp</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-date-picker [(ngModel)]="thongTinKhacCaNhanA.giayToTuyThan.ngayCap" name="ngayCap" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Nơi cấp</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacCaNhanA.giayToTuyThan.noiCap" name="noiCap" placeholder="Nhập nơi cấp" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tỉnh, thành phố</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select
            id="tinh-thanh-pho"
            nzPlaceHolder="Chọn tỉnh/thành phố"
            [(ngModel)]="selectedtinhId"
            (ngModelChange)="ontinhChange($event)"
            name="tinhThanhPho"
            nzShowSearch
            [nzFilterOption]="filterOption"
          >
            <nz-option *ngFor="let tinh of tinhs" [nzLabel]="tinh.tenTinh!" [nzValue]="tinh.maTinh"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Quận, huyện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select
            id="quan-huyen"
            nzPlaceHolder="Chọn quận/huyện"
            [(ngModel)]="selectedhuyenId"
            (ngModelChange)="onhuyenChange($event)"
            nzShowSearch
            [nzFilterOption]="filterOption"
            name="quanHuyen"
          >
            <nz-option *ngFor="let huyen of huyens" [nzLabel]="huyen.tenHuyen!" [nzValue]="huyen.maHuyen"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Phường, xã</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select
            id="xa-phuong"
            nzPlaceHolder="Chọn xã/phường/thị trấn"
            [(ngModel)]="selectedxaId"
            name="xaPhuong"
          >
            <nz-option *ngFor="let xa of xas" [nzLabel]="xa.tenXa!" [nzValue]="xa.maXa"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Hộ khẩu</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacCaNhanA.hoKhau" name="hoKhau" placeholder="Nhập hộ khẩu" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Số nhà, đường</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacCaNhanA.soNha" name="soNhaDuong" placeholder="Nhập số nhà, đường" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Nơi cư trú khác</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacCaNhanA.noiCuTruKhac" name="noiCuTruKhac" placeholder="Nhập nơi cư trú" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Địa chỉ cư trú/tạm trú</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacCaNhanA.diaChiCuTruTamTru" name="diaChiCuTruTamTru" placeholder="Nhập địa chỉ cư trú/tạm trú" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Số điện thoại</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.soDienThoai" name="soDienThoai" placeholder="Nhập số điện thoại" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Email</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.email" name="email" placeholder="Nhập email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Fax</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.fax" name="fax" placeholder="Nhập fax" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Website</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.website" name="website" placeholder="Nhập website" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Quốc tịch</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select [(ngModel)]="thongTinKhacCaNhanA.quocTich" name="quocTich" nzPlaceHolder="Chọn quốc tịch">
            <nz-option nzValue="vietnam" nzLabel="Việt Nam"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tình trạng đương sự</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select [(ngModel)]="thongTinKhacCaNhanA.tinhTrangDuongSu" name="ttDuongSu" nzPlaceHolder="Chọn tình trạng đương sự">
            <nz-option nzValue="Sống" nzLabel="Sống"></nz-option>
            <nz-option nzValue="Đã chết" nzLabel="Đã chết"></nz-option>
            <nz-option nzValue="Bị ngăn chặn" nzLabel="Bị ngăn chặn"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tình trạng hôn nhân</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select [(ngModel)]="thongTinKhacCaNhanA.tinhTrangHonNhan" name="ttHonNhan" nzPlaceHolder="Chọn tình trạng hôn nhân">
            <nz-option nzValue="Chưa kết hôn" nzLabel="Chưa kết hôn"></nz-option>
            <nz-option nzValue="Kết hôn" nzLabel="Kết hôn"></nz-option>
            <nz-option nzValue="Ly hôn" nzLabel="Ly hôn"></nz-option>
            <nz-option nzValue="Goá" nzLabel="Goá"></nz-option>
            <nz-option nzValue="Xác nhận tình trạng hôn nhân" nzLabel="Xác nhận tình trạng hôn nhân"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ghi chú</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.ghiChu" name="ghiChu" placeholder="Ghi chú" />
        </nz-form-control>
      </nz-form-item>

      <div id="secondPerson" *ngIf="thongTinKhacCaNhanA.tinhTrangHonNhan === 'Kết hôn'">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Họ tên</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="secondPerson.tenDuongSu" name="tenDuongSu1" placeholder="Nhập họ tên người thứ 2" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Ngày sinh</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-date-picker [(ngModel)]="thongTinKhacCaNhanB.ngaySinh" name="ngaySinh1" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày sinh" style="width: 100%;"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Giấy tờ tuỳ thân vợ/chồng</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select [(ngModel)]="selectedLoaiGiayToSpouse" (ngModelChange)="onLoaiGiayToChange($event, 'spouse')" name="giayToTuyThanSpouse" nzPlaceHolder="Chọn loại giấy tờ">
              <nz-option *ngFor="let option of loaiGiayToOptions" [nzValue]="option.idLoaiGiayTo" [nzLabel]="option.tenLoaiGiayTo || ''"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="isGiayToKhacSpouseVisible">
          <nz-form-label [nzSpan]="8" class="custom-label">Tên giấy tờ khác</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="thongTinKhacCaNhanB.giayToTuyThan.tenGiayTo" name="tenGiayTo1" placeholder="Nhập tên giấy tờ" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Số giấy tờ</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="secondPerson.soGiayTo" name="soGiayTo1" placeholder="Nhập số giấy tờ" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Ngày cấp</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-date-picker [(ngModel)]="thongTinKhacCaNhanB.giayToTuyThan.ngayCap" name="ngayCap1" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày cấp" style="width: 100%;"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Nơi cấp</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="thongTinKhacCaNhanB.giayToTuyThan.noiCap" name="noiCap1" placeholder="Nhập nơi cấp" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Tỉnh, thành phố</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select
              id="tinh-thanh-pho-b"
              nzPlaceHolder="Chọn tỉnh/thành phố"
              [(ngModel)]="selectedtinhIdB"
              (ngModelChange)="ontinhChange($event)"
              name="tinhThanhPho"
              nzShowSearch
              [nzFilterOption]="filterOption"
            >
              <nz-option *ngFor="let tinh of tinhs" [nzLabel]="tinh.tenTinh!" [nzValue]="tinh.maTinh"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Quận, huyện</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select
              id="quan-huyen-b"
              nzPlaceHolder="Chọn quận/huyện"
              [(ngModel)]="selectedhuyenIdB"
              (ngModelChange)="onhuyenChange($event)"
              nzShowSearch
              [nzFilterOption]="filterOption"
              name="quanHuyen"
            >
              <nz-option *ngFor="let huyen of huyens" [nzLabel]="huyen.tenHuyen!" [nzValue]="huyen.maHuyen"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Phường, xã</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select
              id="xa-phuong-b"
              nzPlaceHolder="Chọn xã/phường/thị trấn"
              [(ngModel)]="selectedxaIdB"
              name="xaPhuong"
            >
              <nz-option *ngFor="let xa of xas" [nzLabel]="xa.tenXa!" [nzValue]="xa.maXa"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Hộ khẩu</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="thongTinKhacCaNhanB.hoKhau" name="hoKhau1" placeholder="Nhập hộ khẩu" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Số nhà, đường</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="thongTinKhacCaNhanB.soNha" name="soNhaDuong1" placeholder="Nhập số nhà, đường" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Nơi cư trú khác</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="thongTinKhacCaNhanB.noiCuTruKhac" name="noiCuTruKhac1" placeholder="Nhập nơi cư trú" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Địa chỉ cư trú/tạm trú</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="thongTinKhacCaNhanB.diaChiCuTruTamTru" name="diaChiCuTruTamTru1" placeholder="Nhập địa chỉ cư trú/tạm trú" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Số điện thoại</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="secondPerson.soDienThoai" name="sdt1" placeholder="Nhập số điện thoại" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Email</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="secondPerson.email" name="email1" placeholder="Nhập email" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Fax</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="secondPerson.fax" name="fax1" placeholder="Nhập fax" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Website</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <input nz-input [(ngModel)]="secondPerson.website" name="website1" placeholder="Nhập website" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Quốc tịch</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select [(ngModel)]="thongTinKhacCaNhanB.quocTich" name="quocTich1" nzPlaceHolder="Chọn quốc tịch">
              <nz-option nzValue="vietnam" nzLabel="Việt Nam"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="8" class="custom-label">Tình trạng đương sự</nz-form-label>
          <nz-form-control [nzSpan]="15">
            <nz-select [(ngModel)]="thongTinKhacCaNhanB.tinhTrangDuongSu" name="ttDuongSu1" nzPlaceHolder="Chọn tình trạng đương sự">
              <nz-option nzValue="Song" nzLabel="Sống"></nz-option>
              <nz-option nzValue="Chet" nzLabel="Đã chết"></nz-option>
              <nz-option nzValue="NganChan" nzLabel="Bị ngăn chặn"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <div id="giayChungNhanKetHon">
          <nz-form-item>
            <nz-form-label [nzSpan]="8" class="custom-label">Giấy chứng nhận kết hôn số</nz-form-label>
            <nz-form-control [nzSpan]="15">
              <input nz-input [(ngModel)]="giayChungNhanKetHon.soGiayCNKH" name="soGiayCNKH" placeholder="Nhập số giấy chứng nhận kết hôn" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="8" class="custom-label">Ngày cấp</nz-form-label>
            <nz-form-control [nzSpan]="15">
              <nz-date-picker [(ngModel)]="giayChungNhanKetHon.ngayCap" name="ngayCapNCKH" nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày cấp" style="width: 100%;"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="8" class="custom-label">Nơi cấp</nz-form-label>
            <nz-form-control [nzSpan]="15">
              <input nz-input [(ngModel)]="giayChungNhanKetHon.noiCap" name="noiCapNCKH" placeholder="Nhập nơi cấp giấy chứng nhận kết hôn" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </ng-container>
    <ng-container *ngIf="selectedLoaiDuongSu === 'to_chuc' || selectedLoaiDuongSu === 'to_chuc_tin_dung'">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label" nzRequired>Tên công ty</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.tenDuongSu" name="tenCongTy" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label" nzRequired>Tên phiếu</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.tenPhieu" name="tenPhieu" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tỉnh, thành phố</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select
            id="tinh-thanh-pho-to-chuc"
            nzPlaceHolder="Chọn tỉnh/thành phố"
            [(ngModel)]="selectedtinhId"
            (ngModelChange)="ontinhChange($event)"
            name="tinhThanhPho"
            nzShowSearch
            [nzFilterOption]="filterOption"
          >
            <nz-option *ngFor="let tinh of tinhs" [nzLabel]="tinh.tenTinh!" [nzValue]="tinh.maTinh"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Quận, huyện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select
            id="quan-huyen-to-chuc"
            nzPlaceHolder="Chọn quận/huyện"
            [(ngModel)]="selectedhuyenId"
            (ngModelChange)="onhuyenChange($event)"
            nzShowSearch
            [nzFilterOption]="filterOption"
            name="quanHuyen"
          >
            <nz-option *ngFor="let huyen of huyens" [nzLabel]="huyen.tenHuyen!" [nzValue]="huyen.maHuyen"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Phường, xã</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select
            id="xa-phuong-to-chuc"
            nzPlaceHolder="Chọn xã/phường/thị trấn"
            [(ngModel)]="selectedxaId"
            name="xaPhuong"
          >
            <nz-option *ngFor="let xa of xas" [nzLabel]="xa.tenXa!" [nzValue]="xa.maXa"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Trụ sở</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.truSo" name="truSo" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Điện thoại</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.soDienThoai" name="dienThoai" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Fax</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.fax" name="fax" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Email</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.email" name="email" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Website</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.website" name="website" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Giấy phép thành lập/đầu tư</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.giayPhepThanhLap" name="giayPhepThanhLap" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Đăng ký kinh doanh</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.dangKyKinhDoanh" name="dangKyKinhDoanh" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Nơi cấp giấy phép</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.noiCapGiayPhep" name="noiCapGiayPhep" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Xưng hô người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.xungHoNguoiDaiDien" name="xungHoNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Họ tên người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.hoTenNguoiDaiDien" name="hoTenNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Chức vụ người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.chucVuNguoiDaiDien" name="chucVuNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ngày sinh người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-date-picker [(ngModel)]="thongTinKhacToChuc.ngaySinhNguoiDaiDien" name="ngaySinhNguoiDaiDien" nzFormat="dd/MM/yyyy" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Giấy tờ tùy thân người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select [(ngModel)]="selectedLoaiGiayToNguoiDaiDien" (ngModelChange)="onLoaiGiayToChange($event, 'nguoiDaiDien')" name="giayToTuyThanNguoiDaiDien" nzPlaceHolder="Chọn loại giấy tờ">
            <nz-option *ngFor="let option of loaiGiayToOptions" [nzValue]="option.idLoaiGiayTo" [nzLabel]="option.tenLoaiGiayTo || ''"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="isGiayToKhacNguoiDaiDienVisible">
        <nz-form-label [nzSpan]="8" class="custom-label">Tên giấy tờ khác</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.giayToTuyThan.tenGiayTo" name="tenGiayToNguoiDaiDien" placeholder="Nhập tên giấy tờ" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Số GT tùy thân người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="newItem.soGiayTo" name="soGiayToNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Cơ quan cấp giấy tờ tùy thân</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.giayToTuyThan.noiCap" name="coQuanCapGiayToNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ngày cấp giấy tờ tùy thân người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-date-picker [(ngModel)]="thongTinKhacToChuc.giayToTuyThan.ngayCap" name="ngayCapGiayToNguoiDaiDien" nzFormat="dd/MM/yyyy" style="width: 100%;"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Hộ khẩu thường trú người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.hoKhauNguoiDaiDien" name="hoKhauNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Nơi cư trú người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.noiCuTruNguoiDaiDien" name="noiCuTruNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Địa chỉ cư trú/tạm trú người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <input nz-input [(ngModel)]="thongTinKhacToChuc.diaChiNguoiDaiDien" name="diaChiNguoiDaiDien" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Ghi chú</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <textarea nz-input [(ngModel)]="newItem.ghiChu" name="ghiChu"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Quốc tịch người đại diện</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select [(ngModel)]="thongTinKhacToChuc.quocTichNguoiDaiDien" name="quocTichNguoiDaiDien" nzPlaceHolder="Chọn quốc tịch">
            <nz-option nzValue="vietNam" nzLabel="Việt Nam"></nz-option>
            <nz-option nzValue="khac" nzLabel="Khác"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" class="custom-label">Tình trạng hoạt động</nz-form-label>
        <nz-form-control [nzSpan]="15">
          <nz-select [(ngModel)]="thongTinKhacToChuc.tinhTrangHoatDong" name="tinhTrangHoatDong" nzPlaceHolder="Chọn tình trạng hoạt động">
            <nz-option nzValue="Đang hoạt động" nzLabel="Đang hoạt động"></nz-option>
            <nz-option nzValue="Ngừng hoạt động" nzLabel="Ngừng hoạt động"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </form>
</nz-modal>
