<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (soCongChung(); as soCongChungRef) {
      <div>
        <h2 data-cy="soCongChungDetailsHeading"><span jhiTranslate="gatewayApp.soCongChung.detail.title">So Cong Chung</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gatewayApp.soCongChung.idSo">Id So</span></dt>
          <dd>
            <span>{{ soCongChungRef.idSo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChung.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ soCongChungRef.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChung.tenSo">Ten So</span></dt>
          <dd>
            <span>{{ soCongChungRef.tenSo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChung.giaTri">Gia Tri</span></dt>
          <dd>
            <span>{{ soCongChungRef.giaTri }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChung.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ soCongChungRef.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChung.nguoiThaoTac">Nguoi Thao Tac</span></dt>
          <dd>
            <span>{{ soCongChungRef.nguoiThaoTac }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChung.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ soCongChungRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.soCongChung.danhMucLoaiSoCongChung">Danh Muc Loai So Cong Chung</span></dt>
          <dd>
            @if (soCongChung()!.danhMucLoaiSoCongChung) {
              <div>
                <a [routerLink]="['/danh-muc-loai-so-cong-chung', soCongChung()!.danhMucLoaiSoCongChung?.idLoai, 'view']">{{
                  soCongChungRef.danhMucLoaiSoCongChung?.idLoai
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/so-cong-chung', soCongChungRef.idSo, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
