<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (taiSanDuongSu(); as taiSanDuongSuRef) {
      <div>
        <h2 data-cy="taiSanDuongSuDetailsHeading"><span jhiTranslate="gatewayApp.taiSanDuongSu.detail.title">Tai San Duong Su</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ taiSanDuongSuRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDuongSu.idDuongSu">Id Duong Su</span></dt>
          <dd>
            <span>{{ taiSanDuongSuRef.idDuongSu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDuongSu.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ taiSanDuongSuRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDuongSu.ngayThaoTac">Ngay Thao Tac</span></dt>
          <dd>
            <span>{{ taiSanDuongSuRef.ngayThaoTac | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDuongSu.idHopDong">Id Hop Dong</span></dt>
          <dd>
            <span>{{ taiSanDuongSuRef.idHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDuongSu.idLoaiHopDong">Id Loai Hop Dong</span></dt>
          <dd>
            <span>{{ taiSanDuongSuRef.idLoaiHopDong }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.taiSanDuongSu.idChungThuc">Id Chung Thuc</span></dt>
          <dd>
            <span>{{ taiSanDuongSuRef.idChungThuc }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/tai-san-duong-su', taiSanDuongSuRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
