<nz-row [nzGutter]="16" class="filter-wrapper">
  <nz-col nzSpan="12">
    <input nz-input [(ngModel)]="searchTerm" (ngModelChange)="onSearch($event)" placeholder="Tìm kiếm ..." />
  </nz-col>
  <nz-col nzSpan="12" class="button-group">
    <button nz-button nzType="primary" (click)="addNew()">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      <span>Thêm mới</span>
    </button>
  </nz-col>
</nz-row>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Thêm loại tài sản" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div *nzModalContent>
    <label for="new-item">Tên loại tài sản:</label>
    <input id="new-item" nz-input [(ngModel)]="newItem.dienGiai" placeholder="Nhập tên loại tài sản" />
  </div>
</nz-modal>
<nz-table [nzData]="filteredData" nzBordered nzSize="small" nzShowPagination class="custom-table">
  <thead>
  <tr>
    <th nzWidth="50px">Stt</th>
    <th>Diễn giải</th>
    <th nzWidth="100px">Thao tác</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of filteredData; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ item?.dienGiai ?? 'N/A' }}</td>
    <td>
      <div class="action-icons">
        <button nz-button nzType="default" nzShape="circle" nzSize="small" (click)="editItem(item)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button nz-button nzType="default" nzShape="circle" nzSize="small" (click)="deleteItem(item)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
