.filter-wrapper {
  margin-bottom: 16px;
  display: flex;
  align-items: center;

  nz-col:first-child {
    flex-grow: 1;
  }

  nz-col:last-child {
    text-align: right;
  }

  input[nz-input] {
    width: 250px;  // Reduced width for the search input
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;

  button {
    display: flex;
    align-items: center;
  }
}

.custom-table {
  .action-icons {
    display: flex;
    justify-content: flex-start;
    gap: 2px;  // Reduced gap between the buttons

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }
  }
  th, td {
    padding: 10px; // Tăng padding cho các ô của bảng
  }

  td {
    text-align: center;
    vertical-align: center;
  }

  td:nth-child(2) {
    text-align: left;
  }

  th {
    background-color: #f0f0f0;
    font-weight: 600;
  }

  tbody tr:nth-child(even) {
    background-color: #fafafa;
  }
}
