<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (thongTinCapNhatTaiSan(); as thongTinCapNhatTaiSanRef) {
      <div>
        <h2 data-cy="thongTinCapNhatTaiSanDetailsHeading">
          <span jhiTranslate="gatewayApp.thongTinCapNhatTaiSan.detail.title">Thong Tin Cap Nhat Tai San</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gatewayApp.thongTinCapNhatTaiSan.idCapNhat">Id Cap Nhat</span></dt>
          <dd>
            <span>{{ thongTinCapNhatTaiSanRef.idCapNhat }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinCapNhatTaiSan.tenTaiSan">Ten Tai San</span></dt>
          <dd>
            <span>{{ thongTinCapNhatTaiSanRef.tenTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinCapNhatTaiSan.thongTinTaiSan">Thong Tin Tai San</span></dt>
          <dd>
            <span>{{ thongTinCapNhatTaiSanRef.thongTinTaiSan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinCapNhatTaiSan.ngayCapNhat">Ngay Cap Nhat</span></dt>
          <dd>
            <span>{{ thongTinCapNhatTaiSanRef.ngayCapNhat | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinCapNhatTaiSan.taiSan">Tai San</span></dt>
          <dd>
            @if (thongTinCapNhatTaiSan()!.taiSan) {
              <div>
                <a [routerLink]="['/tai-san', thongTinCapNhatTaiSan()!.taiSan?.idTaiSan, 'view']">{{
                  thongTinCapNhatTaiSanRef.taiSan?.idTaiSan
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.thongTinCapNhatTaiSan.danhMucLoaiTaiSan">Danh Muc Loai Tai San</span></dt>
          <dd>
            @if (thongTinCapNhatTaiSan()!.danhMucLoaiTaiSan) {
              <div>
                <a [routerLink]="['/danh-muc-loai-tai-san', thongTinCapNhatTaiSan()!.danhMucLoaiTaiSan?.idLoaiTs, 'view']">{{
                  thongTinCapNhatTaiSanRef.danhMucLoaiTaiSan?.idLoaiTs
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button
          type="button"
          [routerLink]="['/thong-tin-cap-nhat-tai-san', thongTinCapNhatTaiSanRef.idCapNhat, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
