<div>
  <h2 id="page-heading" data-cy="DuongSuHeading">
    <span jhiTranslate="gatewayApp.duongSu.home.title">Duong Sus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="gatewayApp.duongSu.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-duong-su"
        [routerLink]="['/duong-su/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.duongSu.home.createLabel">Thêm mới một Duong Su</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (duongSus?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.duongSu.home.notFound">No Duong Sus found</span>
    </div>
  }

  @if (duongSus && duongSus.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="idDuongSu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.idDuongSu">Id Duong Su</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tenDuongSu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.tenDuongSu">Ten Duong Su</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="loaiDuongSu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.loaiDuongSu">Loai Duong Su</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="diaChi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.diaChi">Dia Chi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soDienThoai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.soDienThoai">So Dien Thoai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fax">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.fax">Fax</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="website">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.website">Website</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="trangThai">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.trangThai">Trang Thai</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="thongTinDs">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.thongTinDs">Thong Tin Ds</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ngayThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.ngayThaoTac">Ngay Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nguoiThaoTac">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.nguoiThaoTac">Nguoi Thao Tac</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDsGoc">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.idDsGoc">Id Ds Goc</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idMaster">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.idMaster">Id Master</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idDonVi">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.idDonVi">Id Don Vi</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="strSearch">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.strSearch">Str Search</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="loaiGiayTo">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.loaiGiayTo">Loai Giay To</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="soGiayTo">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.soGiayTo">So Giay To</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ghiChu">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.ghiChu">Ghi Chu</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="idLoaiNganChan">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.idLoaiNganChan">Id Loai Ngan Chan</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="syncStatus">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.duongSu.syncStatus">Sync Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (duongSu of duongSus; track trackIdDuongSu) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/duong-su', duongSu.idDuongSu, 'view']">{{ duongSu.idDuongSu }}</a>
              </td>
              <td>{{ duongSu.tenDuongSu }}</td>
              <td [jhiTranslate]="'gatewayApp.LoaiDuongSu.' + (duongSu.loaiDuongSu ?? 'null')">
                {{ { null: '', CaNhan: 'Cá nhân', ToChuc: 'Tổ chức', ToChucTinDung: 'Tổ chức tín dụng' }[duongSu.loaiDuongSu ?? 'null'] }}
              </td>
              <td>{{ duongSu.diaChi }}</td>
              <td>{{ duongSu.soDienThoai }}</td>
              <td>{{ duongSu.email }}</td>
              <td>{{ duongSu.fax }}</td>
              <td>{{ duongSu.website }}</td>
              <td>{{ duongSu.trangThai }}</td>
              <td>{{ duongSu.thongTinDs }}</td>
              <td>{{ duongSu.ngayThaoTac | formatMediumDate }}</td>
              <td>{{ duongSu.nguoiThaoTac }}</td>
              <td>{{ duongSu.idDsGoc }}</td>
              <td>{{ duongSu.idMaster }}</td>
              <td>{{ duongSu.idDonVi }}</td>
              <td>{{ duongSu.strSearch }}</td>
              <td [jhiTranslate]="'gatewayApp.LoaiGiayTo.' + (duongSu.loaiGiayTo ?? 'null')">
                {{
                  {
                    null: '',
                    Cmnd: 'Chứng minh nhân dân',
                    Cccd: 'Căn cước công dân',
                    Cc: 'Căn cước',
                    Hc: 'Hộ chiếu',
                    K: 'Giấy tờ hợp lệ khác',
                  }[duongSu.loaiGiayTo ?? 'null']
                }}
              </td>
              <td>{{ duongSu.soGiayTo }}</td>
              <td>{{ duongSu.ghiChu }}</td>
              <td>{{ duongSu.idLoaiNganChan }}</td>
              <td>{{ duongSu.syncStatus }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/duong-su', duongSu.idDuongSu, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                  </a>

                  <a [routerLink]="['/duong-su', duongSu.idDuongSu, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Sửa</span>
                  </a>

                  <button type="submit" (click)="delete(duongSu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
