<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (danhMucDonVi(); as danhMucDonViRef) {
      <div>
        <h2 data-cy="danhMucDonViDetailsHeading"><span jhiTranslate="gatewayApp.danhMucDonVi.detail.title">Danh Muc Don Vi</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.idDonVi">Id Don Vi</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.idDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.tenDonVi">Ten Don Vi</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.tenDonVi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.diaChi">Dia Chi</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.diaChi }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.nguoiDaiDien">Nguoi Dai Dien</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.nguoiDaiDien }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.soDienThoai">So Dien Thoai</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.soDienThoai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.idDonViQl">Id Don Vi Ql</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.idDonViQl }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.ngayKhaiBao">Ngay Khai Bao</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.ngayKhaiBao | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.trangThai">Trang Thai</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.trangThai }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.soNha">So Nha</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.soNha }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.maSoThue">Ma So Thue</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.maSoThue }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.hoaDonDt">Hoa Don Dt</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.hoaDonDt }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.maDonViIgate">Ma Don Vi Igate</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.maDonViIgate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.maCoQuanIgate">Ma Co Quan Igate</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.maCoQuanIgate }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.kySo">Ky So</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.kySo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.qrScan">Qr Scan</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.qrScan }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.verifyIdCard">Verify Id Card</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.verifyIdCard }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.isVerifyFace">Is Verify Face</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.isVerifyFace }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.isElastic">Is Elastic</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.isElastic }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.apikeyCccd">Apikey Cccd</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.apikeyCccd }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.apikeyFace">Apikey Face</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.apikeyFace }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.verifyCodeCccd">Verify Code Cccd</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.verifyCodeCccd }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.usernameElastic">Username Elastic</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.usernameElastic }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.passwordElastic">Password Elastic</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.passwordElastic }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.idNhiemVu">Id Nhiem Vu</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.idNhiemVu }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.idLoaiDv">Id Loai Dv</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.idLoaiDv }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.idCapQl">Id Cap Ql</span></dt>
          <dd>
            <span>{{ danhMucDonViRef.idCapQl }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.capQuanLy">Cap Quan Ly</span></dt>
          <dd>
            @if (danhMucDonVi()!.capQuanLy) {
              <div>
                <a [routerLink]="['/cap-quan-ly', danhMucDonVi()!.capQuanLy?.idCapQl, 'view']">{{ danhMucDonViRef.capQuanLy?.idCapQl }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.loaiDonVi">Loai Don Vi</span></dt>
          <dd>
            @if (danhMucDonVi()!.loaiDonVi) {
              <div>
                <a [routerLink]="['/loai-don-vi', danhMucDonVi()!.loaiDonVi?.idLoaiDv, 'view']">{{
                  danhMucDonViRef.loaiDonVi?.idLoaiDv
                }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.danhMucDonVi.nhiemVu">Nhiem Vu</span></dt>
          <dd>
            @if (danhMucDonVi()!.nhiemVu) {
              <div>
                <a [routerLink]="['/nhiem-vu', danhMucDonVi()!.nhiemVu?.idNhiemVu, 'view']">{{ danhMucDonViRef.nhiemVu?.idNhiemVu }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/danh-muc-don-vi', danhMucDonViRef.idDonVi, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
