.margin-top-16 {
  margin-top: 16px;
}

.custom-label {
  text-align: left;
  white-space: normal;
  overflow-wrap: break-word;
}

nz-date-picker {
  width: 100%;
}

.custom-modal{
  max-height: 550px;
  overflow-x: hidden;
}

nz-form-control {
  white-space: nowrap;
}
