<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-don-vi-scan-qr-heading"
        data-cy="DonViScanQrCreateUpdateHeading"
        jhiTranslate="gatewayApp.donViScanQr.home.createOrEditLabel"
      >
        Thêm mới hoặc cập nhật Don Vi Scan Qr
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gatewayApp.donViScanQr.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_idLuotQuet" jhiTranslate="gatewayApp.donViScanQr.idLuotQuet">Id Luot Quet</label>
          <input
            type="number"
            class="form-control"
            name="idLuotQuet"
            id="field_idLuotQuet"
            data-cy="idLuotQuet"
            formControlName="idLuotQuet"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idDonVi" jhiTranslate="gatewayApp.donViScanQr.idDonVi">Id Don Vi</label>
          <input type="number" class="form-control" name="idDonVi" id="field_idDonVi" data-cy="idDonVi" formControlName="idDonVi" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_idCongDan" jhiTranslate="gatewayApp.donViScanQr.idCongDan">Id Cong Dan</label>
          <input type="number" class="form-control" name="idCongDan" id="field_idCongDan" data-cy="idCongDan" formControlName="idCongDan" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ngayThaoTac" jhiTranslate="gatewayApp.donViScanQr.ngayThaoTac">Ngay Thao Tac</label>
          <div class="input-group">
            <input
              id="field_ngayThaoTac"
              data-cy="ngayThaoTac"
              type="text"
              class="form-control"
              name="ngayThaoTac"
              ngbDatepicker
              #ngayThaoTacDp="ngbDatepicker"
              formControlName="ngayThaoTac"
            />
            <button type="button" class="btn btn-secondary" (click)="ngayThaoTacDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
