<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Tình trạng ngăn chặn"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="'1100px'">
  <nz-table [nzData]="data" *nzModalContent nzBordered nzSize="small">
    <thead>
    <tr>
      <th nzWidth="10px">#</th>
      <th>Tên đương sự</th>
      <th>Thông tin ngăn chặn</th>
      <th>Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data; let index = index">
      <td>{{ index + 1 }}</td>
      <td>{{ item['Tên đương sự'] }}</td>
      <td>{{ item['Thông tin ngăn chặn'] }}</td>
      <td>
        <div class="action-icons">
          <ng-container *ngFor="let action of actions">
            <i nz-icon [nzType]="action.icon" nzTheme="outline" nz-tooltip [nzTooltipTitle]="action.tooltip" (click)="onActionClick(action.type, item)"></i>
          </ng-container>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <ng-container *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Đóng</button>
  </ng-container>
</nz-modal>
